<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLCon" connectionString="Data Source=localhost\***;Initial Catalog=***;User ID=***; Password=***;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="TelegramChatID" value="***" />
    <add key="TelegramApiKey" value="***" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
